@charset "UTF-8";
/**
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2013-06-03
*/

/* ----------------------------- */
/* ==Kit */
/* @note : Tous les éléments de personnalisation doivent être présents ici.
/* ----------------------------- */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Typographie
    -- Niveaux de titres
    -- Corps alternatifs
    -- Styles particuliers
  == Couleurs
  == Liens
  == Contenus
  == Formulaires
  == Tableaux
*/

/* == @section Typographie ====================
 * @see : http://www.codestyle.org/servlets/FontStack
 * @see : http://ffffallback.com/
 * @see http://soqr.fr/vertical-rhythm/ @author : @eQRoeil
*/
/* Le corps de base correspond à 10px pour faciliter le calcul des rem, le cas échéant */
html { font-size: 62.5%; }

/* = 14px & s'adapte à votre design */
body { font: 1.4em/1.5 Lucida Sans Unicode, Lucida Sans, sans-serif; }

/*
  Corps du texte pour le contenu,
  Préserve le rythme vertical.
*/
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea {
  font-size: 1em; /* = 14px */
  line-height: 1.5em;
  margin: 1.5em 0;
}

/* -- @subsection Niveaux de titres -------------------- */
h1,
.h1-like {
  font-size: 5.1429em; /* = 72px */
  line-height: .8751em;
  margin: .5834em 0 .2917em;
}

h2,
.h2-like {
  font-size: 2.5714em; /* = 36px */
  line-height: 1.1666em;
  margin: 1.1666em 0 .5833em;
}

h3,
.h3-like {
  font-size: 1.7143em; /* = 24px */
  line-height: 1.75em;
  margin: 1.75em 0 .875em;
}

h4,
.h4-like {
  font-size: 1.2857em; /* = 18px */
  line-height: 1.1667em;
  margin: 2.3334em 0 1.1667em;
}

h5,
.h5-like {
  font-size: 1.1429em; /* = 16px */
  line-height: 1.3125em;
  margin: 2.625em 0 1.3125em;
}

h6,
.h6-like {
  font-size: 1em; /* = 14px */
  line-height: 1.5em;
  margin: 3em 0 1.5em;
}

/* -- @subsection Corps alternatifs -------------------- */
.smaller {
  font-size: .8571em; /* = 12px */
  line-height: 1.75em;
  margin: 1.75em 0;
}

.small {
  font-size: .8571em; /* = 12px */
  line-height: 1.75em;
  margin: 1.75em 0;
}

.big {
  font-size: 1.1429em; /* = 16px */
  line-height: 1.3125em;
  margin: 1.3125em 0;
}

.bigger {
  font-size: 1.2857em; /* = 18px */
  line-height: 1.1667em;
  margin: 1.1667em 0;
}

.biggest {
  font-size: 1.7143em; /* = 24px */
  line-height: 1.75em;
  margin: .875em 0;
}

/* -- @subsection Styles particuliers -------------------- */
blockquote { font-style: italic; }

code,
pre,
samp {
  font-family: Lucida Sans Typewriter, monospace;
}

/* == @section Couleurs ==================== */
body {
  background-color: #f2f2e2;
  color: #333;
}

/* == @section Liens ==================== */
a:link { }

/* Signale les liens visités */
a:visited { }

a:hover { }

a:active { }

/* Signalez la prise de focus pour l'accessibilité */
a:focus { }

/* Signaler les liens externes */
a[target="_blank"] { }

/* Contact, liens mailto */
.mail,
a[href^="mailto:"] {
}
/* Liens vers un .pdf */
a[href$=".pdf"] { }

/* Les liens d'évitement sont de la même couleur que le fond. */
.skip,
.skip:hover {
  color: #f2f2e2;
  cursor: default;
}

/* Au focus, ils apparaissent. */
.skip:focus { color: #333; }

mark { font-weight: bold; }

#site-title { vertical-align: middle; }

.menu a {
  display: inline-block;
  padding: 1em 2em;
}

/* == @section Contenus ==================== */
.page-numbers,
form li { list-style: none; }

.page-numbers li { display: inline-block; }

/* == @section Formulaires ==================== */
form label {
  display: inline-block;
  min-width: 200px;
}

input {
  border: 1px solid #ccc;
  padding: .2em 0 .2em .2em;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
button,
input[type="button"],
input[type="reset"] { min-width: 100px; }

/* == @section Tableaux ==================== */
table,
.table {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
  vertical-align: top;
}

table {
  caption-side: bottom;
  width: 100%;
}

caption {
  color: #555;
  font-style: italic;
  padding: 1em;
}

tbody { border: 1px solid #ccc; }

tbody tr:nth-child(odd) { background: #eee; }

tbody tr > * + * { border-left: 1px solid #ccc; }

tr > :last-child { text-align: right; }

table th,
table td {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  text-align: left;
}

table td { color: #555; }

/* == @section WordPress */
/*
 * @note Classes utilisées par WordPress pour afficher les images avec leurs légendes, les galeries d'images, ainsi que pour distinguer les articles mis en avant et les commentaires ajoutés par l'auteur d'un article himself.
 */
.wp-caption {}
.wp-caption-text {}
.gallery-caption {}
.sticky {}
.bypostauthor {}