@charset "UTF-8";
/**
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2013-06-26
* @subsection Références :
  * @see : Twentythirteen
  * @see : http://twentythirteendemo.wordpress.com/
*/

/* ----------------------------- */
/* ==Navigation */
/* @note : Ici sont définis les styles de base de la navigation
/* ----------------------------- */

/* == @section Navigation ==================== */
#nav { position: relative; }

.menu li {
  display: inline-block;
  position: relative;
}

.menu li a { display: block; }

.sub-menu {
  position: absolute;
  left: -7000px;
  z-index: 4;
}

.menu li:hover > .sub-menu,
.menu a:focus + .sub-menu { left: -2px; }

.sub-menu a:focus {
  left: 7000px;
  position: absolute;
  top: 0;
}

.menu-toggle { display: none; }
