/**
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2012-12-27
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see http://soqr.fr/vertical-rhythm/ @author : @eQRoeil
*/

/* ----------------------------- */
/* ==Reset */
/* @note : Aucun de ces éléments ne doit être modifié. 
 * Pour les modifier, utiliser la partie "Kit" et s'appuyer autant que possible sur la cascade.
/* ----------------------------- */

/* Soft reset */
html,
body,
label {
  margin: 0;
  padding: 0;
}
ul,
ol,
blockquote {
  padding-left: 2em;
}
a {
   text-decoration: none;
}
a:hover,
a:active,
a:focus {
   text-decoration: underline;
}
code,
pre,
samp {
  white-space: pre-wrap;
}
code { line-height: 1em; }
table { margin-bottom: 21px; }
.m-reset { margin: 0 !important; }
.p-reset { padding: 0 !important; }

/* Élude la fusion des marges pour les titrailles */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* Élude la fusion des marges pour les éléments imbriqués */
li p,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* Balises HTML5 */
article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block;
}

/* Valeurs maximum */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
  height: auto;
}

/* Vous ne passerez pas ! */
textarea, table, td, th, code, pre, samp, div {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/* Images */
img {
  width: auto;
  vertical-align: middle;
}
a img { border: 0; }
a:hover img,
a:active img,
a:focus img {
   outline: 4px solid inherit;
}
