@charset "UTF-8";
/**
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2013-06-26
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see HTML5boilerplate
  * @see http://rocssti.nicolas-hoffmann.net/ @author : @Nico3333fr
*/

/* ----------------------------- */
/* ==Structure */
/* @note : Aucun de ces éléments ne doit être modifié.
/* ----------------------------- */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Modèle de boîte
  == Structure flottante
  == Structure en tableau
  == Alignements ( blocs et en ligne )
    -- Alignement horizontal
    -- Alignement vertical
  == Grilles
    -- Grilles égales, marge 2%
    -- Grilles inégales (1-2, 2-1, 1-3 et 3-1)
  == Inline-block
  == Largeurs
    -- Largeurs en %
    -- Largeurs en px
  == Espacements
    -- Marges externes
    -- Marges internes
  == Éléments masqués
    -- Remplacement d'image
  == Orientation
*/


/* == @section Modèle de boîte ==================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}


/* == @section Structure flottante ==================== */
/* Bloc capable de contenir plusieurs .mod, peut contenir des flottants */
.line {
}
/* Module autonome - flottant, doit avoir une largeur */
.mod {
  overflow: hidden;
  padding: 1em;
}
/* Généralement dans un .mod, peut contenir des .item */
.items { }
/* Fluide, contient des flottants, peut être placé à côté d'un flottant */
.item { overflow: hidden; }


/* == @section Structure en tableau ==================== */
.row {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.row > *,
.col {
  display: table-cell;
  padding: 1em;
  vertical-align: top;
}
/* Blocs qui peuvent suivre des flottants ( i.e. pour déclarer une nouvelle ligne ) */
.clear,
.line,
.row,
.clearfix:after,
.line:after,
.mod:after { clear: both; }
/* Blocs qui peuvent contenir des flottants */
.clearfix:before,
.clearfix:after,
.line:before,
.line:after,
.mod:before,
.mod:after {
  content: "";
  display: table;
}


/* == @section Alignements ( blocs et en ligne ) ==================== */

/* -- @subsection Alignement horizontal -------------------- */
/* À gauche */
.left,
.alignleft { float: left; }
img.left,
img.alignleft { margin-right: 1em; }
/* À droite */
.right
.alignright { float: right; }
img.right,
img.alignright { margin-left: 1em; }
/* Centré */
.aligncenter {
  clear: both;
  display: block;
}
/* Autorise les marges verticales spécifiques */
.center,
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
/* Alignement du texte */
.txtleft { text-align: left; }
.txtright { text-align: right; }
.txtcenter { text-align: center; }
/* Une gouttière d'1em si le parent est un .gut */
.row.gut > * + * { border-left: 1em solid transparent; }
.line.gut > .left { margin-right: 1em; }
.line.gut > .right { margin-left: 1em; }
/* "Multi-colonnes" avec des gouttières en % */
.line.gut2 > * { width: 49%; }
.line.gut2 > * + * { margin-left: 2%; }
.line.gut3 > * { width: 32.333%; }
.line.gut3 > * + * { margin-left: 1.5%; }
.line.gut4 > * { width: 24%; }
.line.gut4 > * + * { margin-left: 1.333%; }

/* -- @subsection Alignement vertical -------------------- */
.aligntop { vertical-align: top; }
.alignbottom { vertical-align: bottom; }


/* == @section Grilles ==================== */

/* -- @subsection Grilles égales, marge 2% -------------------- */
[class*=grid] > * { float: left; } /* direct childrens are floating */
[class*=grid] > * + * { margin-left: 2%; } /* here's the gutter */
.grid2 > * { width: 49%; }
.grid3 > * { width: 32%; }
.grid4 > * { width: 23.5%; }
.grid5 > * { width: 18.4%; }
.grid6 > * { width: 15%; }

/* -- @subsection Grilles inégales (1-2, 2-1, 1-3 et 3-1) -------------------- */
.grid2-1 > *:first-child,
.grid1-2 > * + * { width: 66%; }
.grid1-2 > *:first-child,
.grid2-1 > * + * { width: 32%; }
.grid1-3 > *:first-child,
.grid3-1 > * + * { width: 23.5%; }
.grid3-1 > *:first-child,
.grid1-3 > * + * { width: 74.5%; }


/* == @section Inline-block ==================== */
.inbl,
.btn {
  display: inline-block;
  vertical-align: top;
}


/* == @section Largeurs ==================== */

/* -- @subsection Largeurs en % -------------------- */
.w10 { width: 10%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w33 { width: 33.333%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w66 { width: 66.666%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }

/* -- @subsection Largeurs en px -------------------- */
.w960p { width: 960px; }
.mw960p { max-width: 960px; }


/* == @section Espacements ====================
 * @note : p, m = padding, margin
 * @note : a, t, r, b, l = all, top, right, bottom, left
*/

/* -- @subsection Marges externes -------------------- */
.ma1 { margin: 1em; }
.ma2 { margin: 2em; }
.ma3 { margin: 3em; }
.mt0 { margin-top: 0; }
.mt1 { margin-top: 1em; }
.mt2 { margin-top: 2em; }
.mt3 { margin-top: 3em; }
.mr0 { margin-right: 0; }
.mr1 { margin-right: 1em; }
.mr2 { margin-right: 2em; }
.mr3 { margin-right: 3em; }
.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: 1em; }
.mb2 { margin-bottom: 2em; }
.mb3 { margin-bottom: 3em; }
.ml0 { margin-left: 0; }
.ml1 { margin-left: 1em; }
.ml2 { margin-left: 2em; }
.ml3 { margin-left: 3em; }

/* -- @subsection Marges internes -------------------- */
.pa1 { padding: 1em; }
.pa2 { padding: 2em; }
.pa3 { padding: 3em; }
.pt0 { padding-top: 0; }
.pt1 { padding-top: 1em; }
.pt2 { padding-top: 2em; }
.pt3 { padding-top: 3em; }
.pr0 { padding-right: 0; }
.pr1 { padding-right: 1em; }
.pr2 { padding-right: 2em; }
.pr3 { padding-right: 3em; }
.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: 1em; }
.pb2 { padding-bottom: 2em; }
.pb3 { padding-bottom: 3em; }
.pl0 { padding-left: 0; }
.pl1 { padding-left: 1em; }
.pl2 { padding-left: 2em; }
.pl3 { padding-left: 3em; }


/* == @section Éléments masqués ==================== */
.visually-hidden,
[aria-hidden="true"] {
  left: -7000px;
  overflow: hidden;
  position: absolute;
}
.js .js-hidden,
.no-js .js-visible { display: none; }
.js .js-visible,
.no-js .js-hidden { display: block; }

/* -- @subsection Remplacement d'image -------------------- */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}
.ir:before {
  content: "";
  display: block;
  height: 100%;
  width: 0;
}


/* == @section Orientation ====================
 * @note : Corrige un bug sur les font-size lors du changement d'orientation sur iOS
*/
@media ( orientation: landscape ) and ( max-device-width: 768px ) {
  html,
  body {
    -webkit-text-size-adjust: 100%;
  }
}