.desktop-hidden { display: none; } /* Masqué sur ordinateur */
.mobile-hidden {} /* Masqué sur mobile */
.tablet-hidden {} /* Masqué sur tablette */
.phone-hidden {} /* Masqué sur smartphone */

/* ----------------------------- */
/* ==Médias pour les ordinateurs */
/* ----------------------------- */

@media (min-width: 641px) {
  /* Charger ici les ressources pour les grands écrans : images, typographies, etc... */
}

/* ----------------------------- */
/* ==Mobile */
/* ----------------------------- */

/* Reset rapide pour les tablettes */
@media (max-width: 768px) {
  .tablet-hidden { display: none; }
  [class*="mw"],
  [class*="w9"],
  [class*="w8"],
  [class*="w7"],
  [class*="w6"] {
    width: auto;
  }
}

/* Reset rapide pour les smartphones */
@media (max-width: 640px) {
  .phone-hidden { display: none; }
  .mod,
  .col,
  label,
  fieldset {
    display: block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
    float: none !important;
    width: auto !important;
  }
  [class*="w5"],
  [class*="w4"],
  [class*="w3"] {
    width: auto;
  }
  .row { width: 100% !important; }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
/* Ajuster les styles pour les hautes résolutions */
}

/* Correctif pour le corps de texte sur IOS lors du changement d'orientation */
@media (orientation: landscape) and (max-device-width: 640px) {
  html,
  body {
    -webkit-text-size-adjust: 100%;
  }
}
