/* =Diaporama */
.featured-posts {
  height: 210px;
  position: relative;
}

.featured-post {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -960px;
  -webkit-transition: all 3s ease-in;
}

.featured-posts #featured-post-1 {
  opacity: 1;
  visibility: visible;
  left: 0;
}

.feature-slider {
  position: relative;
  top: 160px;
}

.feature-slider a {
  height: 1.625em; width: 1.625em;
  -webkit-transition: all .5s ease-in;
  border-radius: 50%;
  background: #444;
}

.feature-slider a:hover,
.feature-slider a:active,
.feature-slider a:focus {
  background: #000;
}

.feature-slider .active {
  background: #fff;
}
