/* Correctifs pour IE7 */
.ie7 .clearfix,
.ie7 .line,
.ie7 .mod,
.ie7 .row,
.ie7 .col {
  zoom: 1; /* haslayout */
}

.ie7 .btn,
.ie7 .col,
.ie7 .inbl {
  display: inline; /* inline-block et table-cell pour IE7 */
  zoom: 1;
  /* !!! : .col doit avoir une largeur !!! */
}

.ie7 .ir {
  text-indent: -9999px;
  /* :before n'est pas reconnu - ceci est la roue de secours. */
}

.ie7 button,
.ie7 input,
.ie7 select {
  vertical-align: middle;
  /* Améliore le rendu. */
}

.ie7 button,
.ie7 input[type="button"],
.ie7 input[type="reset"],
.ie7 input[type="submit"] {
  overflow: visible;
  /* Corrige l'espacement interne qui s'affiche bizarrement. */
}

.ie7 input[type="checkbox"],
.ie7 input[type="radio"] {
  width: 13px;
  height: 13px;
  /* Corrige les espaces excessifs autour de ces types de champs. */
}

/*
 * @source https://github.com/Schepp/box-sizing-polyfill
 * @note Placer le fichier à la racine du thème
 */
.ie7 * {
  behavior: url(/boxsizing.htc); /* box-sizing pour IE7 */
}
